<header class="header">
    <div class="header__logo">
        <img src="./assets/icon/logo-corto.svg" alt="loco header" class="header__img--logo"/>
    </div>
    <nav class="header__nav">
        <ul class="header__ul">
            <li class="header__li">
                <a href="/" class="header__a">Inicio</a>
            </li>
            <li class="header__li">
                <a href="/reservar" class="header__a">Reservar</a>
            </li>
            <li class="header__li">
                <a href="/ayuda" class="header__a">Ayuda</a>
            </li>

            {{{btnNav}}}

        </ul>
    </nav>
</header>