<header class="header">
    <div class="header__logo">
        <img src="./assets/icon/logo-corto.svg" alt="loco header" class="header__img--logo"/>
    </div>
    <nav class="header__nav">
        <ul id="nav" class="header__ul">
            
        </ul>
    </nav>
</header>