<header class="header">
    <div class="header__logo">
        <img src="./assets/icon/logo-corto.svg" alt="loco header" class="header__img--logo"/>
    </div>
    <nav class="header__nav">
        <ul id="nav" class="header__ul">
            <li class="header__li">
                <a id="inicio" href="/" class="header__a">Inicio</a>
            </li>
            <li class="header__li">
                <a id="reservar" href="/reservar" class="header__a">Reservar</a>
            </li>
            <li class="header__li">
                <a id="ayuda" href="/ayuda" class="header__a">Ayuda</a>
            </li>
            <li class="header__li li-btnUno">
                <a id="signin" href="/signin" class="header__a">Sign In</a>
            </li>
            <li class="header__li li-btnDos">
                <a id="signup" href="/signup" class="header__a">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>