<main class="main__ayuda">
    <section class="ayuda__sectionPortada">
        <img src="../assets/img/ayuda-portada.jpg" alt="ayuda portada" class="ayuda__img"/>
    </section>
    <section class="ayuda__sectionContacto">
        <h2 class="ayuda__h2">Contáctanos</h2>
        <form class="ayuda__form" action="">
            <label for="nombre" class="ayuda__label">Nombre y apellido:</label>
            <input type="text" name="nombre" id="nombre" class="ayuda__input" required/>
            <label for="correo" class="ayuda__label">Correo electrónico:</label>
            <input type="email" name="correo" id="correo" class="ayuda__input" required/>
            <label for="telefono" class="ayuda__label">Teléfono:</label>
            <input type="text" name="telefono" id="telefono" class="ayuda__input" required/>
            <label for="mensaje" class="ayuda__label">Mensaje:</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="ayuda__textarea" required></textarea>
            <button type="submit" class="ayuda__button">Enviar</button>
        </form>
    </section>
    <section id="preguntaFrec" class="sectionPreguntas">
        <h2 class="ayuda__h2">Preguntas Frecuentes</h2>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p"><strong class="ayuda__p-s">¿Cómo puedo pagar mi estadía?</strong> Aceptamos pagos en efectivo y tarjetas de crédito. También ofrecemos la opción de pago en línea para mayor comodidad.</p>
        </div>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p"><strong class="ayuda__p-s">¿Cuál es la hora de entrada y salida?</strong> El check-in es a partir de las 14:00 horas y el check-out es a las 12:00 horas. Si necesitas un horario diferente, por favor contáctanos y haremos nuestro mejor esfuerzo para acomodarte.</p>
        </div>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p">
                <strong class="ayuda__p-s">¿Necesito abonar algo al momento de hacer una reserva?</strong> Sí, requerimos un depósito para confirmar tu reserva. El monto variará según la duración de tu estadía. El saldo restante se abona a la llegada.
            </p>
        </div>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p"><strong class="ayuda__p-s">¿A qué hora se sirve el desayuno?</strong> El desayuno se sirve en nuestra cabaña entre las 8:00 y las 10:00 de la mañana. Nuestro objetivo es que comiences el día de la mejor manera posible.</p>
        </div>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p"><strong class="ayuda__p-s">¿Hasta qué hora se puede disfrutar de la piscina?</strong> Nuestra piscina está disponible para su uso desde las 9:00 de la mañana hasta las 20:00 horas. Queremos que tengas tiempo suficiente para disfrutar de un refrescante baño y relajarte junto a la piscina.</p>
        </div>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p"><strong class="ayuda__p-s">¿Ofrecen alquiler de la piscina sin la cabaña?</strong> Sí, ofrecemos la opción de alquilar nuestra piscina de forma independiente. Contáctanos para obtener más detalles y tarifas.</p>
        </div>
        <hr class="ayuda__hr" />
        <div class="ayuda__div">
            <p class="ayuda__p"><strong class="ayuda__p-s">Si solo reservo la piscina, ¿cuál es el límite de bañistas?</strong> Para garantizar la seguridad y comodidad de todos nuestro huéspedes, el límite de bañistas para quienes reservan solo la piscina es de 10 personas. Si planeas una reunión más grande, contáctanos con anticipación para discutir las opciones disponibles.</p>
        </div>
        <hr class="ayuda__hr" />
    </section>
</main>