<main class="main__inicio">
    <section class="inicio__secDesign">
        <div class="inicio__title--secDesign">
            <h2 class="inicio__h2--secDesign">Interior & Exterior</h2>
        </div>
        <div class="inicio__text--secDesign">
            <p class="inicio__p--secDesign">Nuestra cabaña es un refugio de serenidad y estilo, donde el diseño interior y exterior se unen para ofrecerte una experiencia única. Desde el momento en que cruzas la puerta, te sumergirás en un ambiente moderno, acogedor y práctico que te hará sentir como en casa.</p>
            <p class="inicio__p--secDesign">El diseño interior de nuestra cabaña ha sido meticulosamente planificado para brindarte comodidad y sofisticación. Nuestras habitaciones están decoradas con colores cálidos y muebles elegantes, creando un ambiente acogedor perfecto para relajarse. Cada detalle ha sido pensado para maximizar tu confort, desde las amplias camas hasta la iluminación ambiental que crea un ambiente relajante por la noche.</p>
            <p class="inicio__p--secDesign">El exterior de nuestra cabaña es igual de impresionante que su interior. Desde la piscina privada hasta el exuberante jardín que la rodea, el entorno te invita a disfrutar de la naturaleza en su máxima expresión. Nuestra área al aire libre cuenta con cómodos muebles de exterior donde puedes relajarte con un libro o disfrutar de una comida bajo el sol. El diseño paisajístico se combina armoniosamente con el diseño moderno de la cabaña, creando un ambiente que combina lo natural y lo contemporáneo de manera espectacular.</p>
        </div>
        <div class="inicio__reserva">
            <a href="/reservar">
                <button id="btnReservar" class="inicio__btn--reserva">Reservá Ahora</button>
            </a>
        </div>
    </section>
    <section class="inicio__secInterior">
        <img src="./assets/img/inicio-interior-uno.jpg" alt="img interior" class="inicio__img--secInterior inicio__img1--secInterior"/>
        <img src="./assets/img/inicio-interior-dos.jpg" alt="img interior" class="inicio__img--secInterior inicio__img2--secInterior"/>
    </section>
    <section class="inicio__secExterior">
        <img src="./assets/img/inicio-exterior-uno.jpg" alt="img exterior" class="inicio__img--secExterior inicio__img1--secExterior"/>
        <img src="./assets/img/inicio-exterior-dos.jpg" alt="img exterior" class="inicio__img--secExterior inicio__img2--secExterior"/>
    </section>
    <section class="inicio__secServicios">
        <div class="inicio__title--secServicios">
            <h2 class="inicio__h2--secServicios">Servicios</h2>
        </div>
        <div class="inicio__whats">
            <a href="">
                <button class="inicio__btn--whats">Háblanos por Whatsapp</button>
            </a>
        </div>
        <div class="inicio__text--secServicios">
            <p>En Nuestra Cabaña con Piscina, nos enorgullece ofrecer una amplia gama de servicios para hacer que tu estancia sea lo más placentera posible:</p>
            <ul>
                <li><strong class="inicio__p--secServicios-s">Desayuno:</strong> Comienza tu día con un delicioso desayuno servido en tu cabaña.</li>
                <li><strong class="inicio__p--secServicios-s">Piscina:</strong> Refréscate en nuestra piscina privada.</li>
                <li><strong class="inicio__p--secServicios-s">WiFi:</strong> Mantente conectado en todo momento con nuestra conexión WiFi de alta velocidad.</li>
                <li><strong class="inicio__p--secServicios-s">Aire Acondicionado:</strong> Disfruta de un ambiente fresco y agradable en todas las habitaciones.</li>
                <li><strong class="inicio__p--secServicios-s">TV:</strong> Entretenimiento en la comodidad de tu cabaña.</li>
                <li><strong class="inicio__p--secServicios-s">Servicio de Limpieza:</strong> Mantenemos tu cabaña impecable durante toda tu estadía.</li>
                <li><strong class="inicio__p--secServicios-s">Living Comedor:</strong> Espacio común para relajarte y disfrutar con amigos y familia.</li>
                <li><strong class="inicio__p--secServicios-s">Asador:</strong> Disfruta de una deliciosa parrillada al aire libre en nuestro asador.</li>
                <li><strong class="inicio__p--secServicios-s">Garage:</strong> Estacionamiento privado para tu comodidad y seguridad.</li>
                <li><strong class="inicio__p--secServicios-s">Heladera Exterior:</strong> Guarda tus refrigerios y bebidas en nuestra heladera exterior para mantenerlos frescos.</li>
            </ul>
        </div>
        <div class="inicio__ayuda">
            <a href="/ayuda">
                <button class="inicio__btn--ayuda">Cualquier duda contáctenos</button>
            </a>
        </div>
    </section>
</main>