<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=
    , initial-scale=1.0"
        />
        <title>{{title}}</title>

        <!-- archivo css -->
        <link rel="stylesheet" href="./css/style.css" />

        <!-- favicon como logo -->
        <link
            rel="shortcut icon"
            href="./assets/icon/logo-corto.svg"
            type="image/x-icon"
        />
    </head>

    <body>

        {{{portada}}}

        {{> header}}

        {{{body}}}

        {{> footer}}
    </body>

    {{{alert}}}

</html>